.routes-details {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.routes-details>div {
  width: 50%;
}

.search-form {
  display: flex;
  padding-bottom: 10px;
}

.route-details {
  display: flex;
  flex-direction: column;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  /* Fondo semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  /* Asegúrate de que el modal esté sobre otros elementos */
  animation: fadeIn 0.3s ease;
  /* Animación de entrada */
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}